@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-bold.woff2") format("woff2");
  font-display: swap;
}

.body {
  margin: 0;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.background-image {
  background-image: url(/img/background/index-background.jpg);
  width: 1200px;
  height: 485px;
}
.newsletter {
  background-image: url(/img/background/background.jpg);
  width: 800px;
  height: 224px;
}
.background-image-catalog {
  background-image: url(/img/background/catalog-background\.jpg);
  min-width: 1200px;
  min-height: 408px;
}
